.navigationList {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: var(--fd-space-2);
  list-style: none;
}

.navigationLink {
  min-width: 5rem;
}

@media (max-width: 23.75rem) {
  .navigationList {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .navigationLink {
    width: 100%;
  }
}
